<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<section id="animalType">
    <div class="text-center">
        <div class="container">
            <a th:href="@{'/animals/list/'}"><button class="btn hvr-shutter-in-vertical">All</button></a>
            <div class="btn-group p-1 mt-5 mb-5" th:each="animalType : ${animalTypes}">
                <a th:href="@{'/animals/animalType/' + ${animalType.name}}"><button class="btn hvr-shutter-in-vertical"
                                                                                    th:text="${animalType.name}"></button></a>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h2>Animal List</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table table-striped">

            <tr>
                <th>Title</th>
                <th>URL</th>
                <th>Species</th>
                <th sec:authorize="isAuthenticated()">Adopt</th>
                <th sec:authorize="hasRole('ADMIN')">Add Animal Types</th>
                <th sec:authorize="hasRole('ADMIN')">Update</th>
                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                <th sec:authorize="isAuthenticated()">View animal details</th>
                <th sec:authorize="isAuthenticated()">View medical history</th>
            </tr>
            <tbody id="searchTable">
            <tr th:each="animal : ${animals}">
                <td th:text="${animal.title}"></td>
                <td> <a th:href="@{${animal.url}}" th:text="${animal.url}" >ceva</a> </td>
                <td th:text="${animal.animalType?.name}"></td>
                <td sec:authorize="isAuthenticated()"><a th:if="${animal.canAdopt(#authentication.principal.username)}" th:href="@{/adoptionRequests/adopt(animalId=${animal.id})}" class="btn btn-primary btn-xs">Adopt</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/animals/addAnimalType(animalId=${animal.id})}" class="btn btn-primary btn-xs">Add Species</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/animals/update(animalId=${animal.id})}" class="btn btn-primary btn-xs">Update</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/animals/delete(animalId=${animal.id})}" class="btn btn-danger btn-xs"
                       onclick="if (!(confirm('Are you sure you want to delete this animal?'))) return false">Delete</a>  </td>
                <td sec:authorize="isAuthenticated()"><a th:href="@{/animalDetails/viewAnimalDetails(animalId=${animal.id})}" class="btn btn-primary btn-xs">View Animal Details</a></td>
                <td sec:authorize="isAuthenticated()"><a th:href="@{/animalMedicalHistory/viewAnimalMedicalHistory(animalId=${animal.id})}" class="btn btn-primary btn-xs">View Medical History</a></td>
            </tr>
            </tbody>
        </table>
        <div sec:authorize="hasRole('ADMIN')"><a th:href="@{/animals/add}" class="btn btn-primary">Add New Animal</a></div>
    </div>
</div>

</body>
</html>