<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<div class="container">
    <h2>Add Species</h2>
    <form th:action="@{/animals/{id}/animalTypes(id=${animal.id})}" method="get" enctype="multipart/form-data">
        <div>
            <div class="panel panel-default" style="width: 350px">
                <div class="panel-heading"><h4>Animal Info</h4></div>
                <div class="panel-body" style="padding-left: 5px;">
                    Title: 	    <b th:text="${animal.url}"/><br/>
                    URL:	    <a th:href="@{${animal.url}}" th:text="${animal.url}" ></a><br/>
                    <br/>Species: <span th:text="${animal.animalType?.name}"/>
                </div>
            </div>
            <div>
                <select class="form-control" name="animalId" style="width: 150px">
                    <option th:each="animalType : ${animalTypes}"
                            th:value="${animalType.id}"
                            th:text="${animalType.name}">
                    </option>
                </select>
            </div>
            <br>
            <input type="submit" name="action" class="btn btn-primary" value="Add"/>
            <a th:href="@{/animals/list}" class="btn btn-default">Back</a>
        </div>
    </form>
</div>
</body>
</html>