<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

    <header>
        <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
    </header>

    <div class="container">

        <h3>Animal</h3>
        <hr>

        <p class="h4 mb-4">Save Animal</p>

        <form action="#" th:action="@{/animals/save}"
              th:object="${animal}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <div class="form-inline">
                <input type="text" th:field="*{title}"
                       style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                       class="form-control mb-4 col-4" placeholder="Title">

                <!-- Add error message (if present) -->
                <span th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}"
                      class="badge badge-danger ml-2 mb-4"></span>

            </div>

            <div class="form-inline">

                <input type="text" th:field="*{url}"
                       style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                       class="form-control mb-6 col-6" placeholder="URL">

                <!-- Add error message (if present) -->
                <span th:if="${#fields.hasErrors('url')}"
                      th:errors="*{url}"
                      class="badge badge-danger ml-2 mb-4"></span>

            </div>

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>
        <a th:href="@{/animals/list}">Back to Animals List</a>
    </div>
</body>
</html>