<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

    <header>
        <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
    </header>

    <div class="container">

        <p class="h4 mb-4">Edit Species</p>

        <form action="#" th:action="@{/animalTypes/save}"
              th:object="${animalType}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{id}" />

            <div class="form-inline">
                <input type="text" th:field="*{name}"
                       style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                       class="form-control mb-4 col-4" placeholder="Name">

                <!-- Add error message (if present) -->
                <span th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"
                      class="badge badge-danger ml-2 mb-4"></span>

            </div>

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>
        <a th:href="@{/animalTypes/list}">Back to Species List</a>
    </div>
</body>
</html>