<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<div class="container">
    <div class="col-md-4">
        <h2>Species List</h2>
    </div>
    <div style="padding:0 20px">
        <table class="table table-striped">

            <tr>
                <th>Name</th>
                <span sec:authorize="hasRole('ADMIN')">
                    <th>Update</th>
                    <th>Delete</th>
                </span>
            </tr>

            <tbody id="searchTable">
            <tr th:each="animalType : ${animalTypes}">
                <td th:text="${animalType.name}"></td>
                <span sec:authorize="hasRole('ADMIN')">
                    <td><a th:href="@{/animalTypes/update(animalTypeId=${animalType.id})}" class="btn btn-primary btn-xs">Update</a></td>
                    <td><a th:href="@{/animalTypes/delete(animalTypeId=${animalType.id})}" class="btn btn-danger btn-xs"
                           onclick="if (!(confirm('Are you sure you want to delete this animalType?'))) return false">Delete</a></td>
                </span>
            </tr>
            </tbody>
        </table>

        <span sec:authorize="hasRole('ADMIN')">
            <a th:href="@{/animalTypes/add}" class="btn btn-primary">Add New Species</a>
        </span>
    </div>
</div>

</body>
</html>