<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<div class="container">

    <h3>Change Password</h3>
    <hr>

    <p class="h4 mb-4">Change Password</p>

    <form action="#" th:action="@{/profile/saveNewPassword}"
          th:object="${changePasswordCommand}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-inline">
            <input type="password" th:field="*{oldPassword}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-4 col-4" placeholder="Current Password">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('oldPassword')}"
                  th:errors="*{oldPassword}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <div class="form-inline">

            <input type="password" th:field="*{newPassword}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-4 col-4" placeholder="New Password">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('newPassword')}"
                  th:errors="*{newPassword}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>