<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Pet Hope</title>

</head>

<body>

<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>

<div class="container">

    <h3>Animal</h3>
    <hr>

    <p class="h4 mb-4">Save Link</p>

    <form action="#" th:action="@{/profile/save}"
          th:object="${userProfile}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-inline">
            <input type="text" th:field="*{firstName}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-4 col-4" placeholder="First Name">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('firstName')}"
                  th:errors="*{firstName}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <div class="form-inline">

            <input type="text" th:field="*{lastName}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-4 col-4" placeholder="Last Name">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('lastName')}"
                  th:errors="*{lastName}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <div class="form-inline">

            <input type="text" th:field="*{phoneNumber}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-6 col-6" placeholder="Phone number">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <div class="form-inline">

            <input type="text" th:field="*{country}"
                   style="margin-bottom: 10px; margin-right: 10px; width: 250px"
                   class="form-control mb-6 col-6" placeholder="Country">

            <!-- Add error message (if present) -->
            <span th:if="${#fields.hasErrors('country')}"
                  th:errors="*{country}"
                  class="badge badge-danger ml-2 mb-4"></span>

        </div>

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/profile/view}">Back to Profile</a>
</div>
</body>
</html>