<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	<title>Pet Hope</title>

</head>

<body>

	<header>
		<!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
	</header>

	<div class="container">
		<div class="panel panel-default" style="width: 350px">
			<div class="panel-heading"><h4>Profile Info</h4></div>
			<div class="panel-body" style="padding-left: 5px;">
				First name: 	<b th:text="${userProfile.firstName}"/><br/>
				Last name: 		<b th:text="${userProfile.lastName}"/><br/>
				Phone number:	<b th:text="${userProfile.phoneNumber}"/><br/>
				Country:		<b th:text="${userProfile.country}"/><br/>
				<br/>
			</div>
		</div>
		<br>
		<a th:href="@{/profile/edit}" class="btn btn-primary">Edit</a>
		<a th:href="@{/}" class="btn btn-default">Back</a>
	</div>

</body>
</html>