<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Animal Details</title>

</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>
<body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <td style="font-weight: bold">Animal</td>
                <td th:text="${animalDetails.animal.title}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Url</td>
                <td><a th:text="${animalDetails.animal.url}" th:href="@{${animal.url}}"></a></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Arrival date</td>
                <td th:text="${animalDetails.arrival_date}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Estimated birth date</td>
                <td th:text="${animalDetails.estimated_birth_date}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Sex</td>
                <td th:text="${animalDetails.sex}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold">Description</td>
                <td th:text="${animalDetails.description}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>