<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Car form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:object="${car}" th:action="@{'/orders/' + ${car.getPurchaseOrder().getId()} + '/details'} " method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{purchaseOrder}"/>
        <div class="form-group">
            <label class="control-label">VIN:</label>
            <input class="form-control" type="text" th:field="*{vinNumber}" required />
        </div>
        <div class="form-group">
            <label class="control-label">Fabrication date:</label>
            <input class="form-control" type="date" th:field="*{fabricationDate}" required />
        </div>
        <div class="form-group">
            <label class="control-label">Model:</label>
            <select class="form-control" th:field="*{carModel.id}" required>
                <option th:each="carModel : ${carModels}"
                        th:value="${carModel.id}"
                        th:selected="${carModel.id.equals(car.carModel.id)}"
                        th:text="${carModel.name}">Car model</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>