<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Car model form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
<form th:object="${carModel}" th:action="@{/carModels/}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        <label class="control-label">Name:</label>
        <input class="form-control" type="text" th:field="*{name}" required/>
    </div>
    <div class="form-group">
        <label class="control-label">Type:</label>
        <select class="form-control" th:field="*{type}" required>
            <option th:value="'Sedan'" th:text="Sedan"></option>
            <option th:value="'Hatchback'" th:text="Hatchback"></option>
            <option th:value="'Coupe'" th:text="Coupe"></option>
            <option th:value="'Cabriolet'" th:text="Cabriolet"></option>
            <option th:value="'Van'" th:text="Van"></option>
            <option th:value="'SUV'" th:text="SUV"></option>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label">Base price:</label>
        <input class="form-control" type="number" th:field="*{basePrice}" required min="1000" max="999999999"/>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</body>
</html>