<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Car model details</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="panel-group">
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h2 class="panel-title" th:text="${carModel.name}"></h2>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-3">
            <h5>Base price:</h5>
            <p th:text="${carModel.basePrice}"></p>
        </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Image:</h5>
                <img th:src="@{'/carModels/' + ${carModel.id} + '/showImage'}" height="200">
                <a class="btn btn-default" href="#" role="button" th:href="@{'/carModels/' + ${carModel.id} + '/image'}">Upload image</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        VIN
                    </th>
                    <th>
                        Fabrication date
                    </th>
                    <th>
                        Order
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
                </thead>
                <tr th:each="car : ${carModel.cars}">
                    <td th:text="${car.vinNumber}"></td>
                    <td th:text="${car.fabricationDate}"></td>
                    <td><a href="#" th:href="@{'/orders/' + ${car.purchaseOrder.id}}" th:text="${car.purchaseOrder.code}"></a></td>
                    <td><a href="#" th:href="@{'/cars/' + ${car.id} + '/delete'}">Delete</a></td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>