<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Cars</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-2"></div>
<div class="col-md-8">
<table class="table">
    <thead>
    <tr>
        <th>
            VIN
        </th>
        <th>
            Fabrication date
        </th>
        <th>
            Model
        </th>
        <th>
            Order
        </th>
        <th>
            Delete
        </th>
    </tr>
    </thead>
    <tr th:each="car : ${cars}">
        <td th:text="${car.vinNumber}"></td>
        <td th:text="${car.fabricationDate}"></td>
        <td th:text="${car.carModel.name}"></td>
        <td><a href="#" th:href="@{'/orders/' + ${car.purchaseOrder.id}} + '/details'" th:text="${car.purchaseOrder.code}"></a></td>
        <td><a href="#" th:href="@{'/cars/' + ${car.id} + '/delete'}">Delete</a></td>
    </tr>
</table>
</div>
</div>
</body>
</html>