<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Factories</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Country
                </th>
                <th>
                    Details
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tr th:each="factory : ${factories}">
                <td th:text="${factory.name}"></td>
                <td th:text="${factory.country}"></td>
                <td><a href="#" th:href="@{'factories/' + ${factory.id} + '/details'}">Details</a></td>
                <td><a href="#" th:href="@{'factories/' + ${factory.id} + '/edit'}">Edit</a></td>
                <td><a href="#" th:href="@{'factories/' + ${factory.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <a th:href="@{'factories/new'}"><button class="btn btn-primary">New factory</button></a>
    </div>
</div>
</div>
</body>
</html>