<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Factory details</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="panel-group">
    <div class="panel panel-primary" >
        <div class="panel-heading">
            <h2 class="panel-title" th:text="${factory.name}"></h2>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h5>Country:</h5>
                <p th:text="${factory.country}"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Orders:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Code
                        </th>
                        <th>
                            Cost
                        </th>
                        <th>
                            Completed
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tr th:each="order : ${factory.purchaseOrders}">
                        <td th:text="${order.code}"></td>
                        <td th:text="${order.cost}"></td>
                        <td th:text="${order.completed}"></td>
                        <td><a href="#" th:href="@{'/orders/' + ${order.id} + '/delete'}">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Car models:</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Base price
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                    </thead>
                    <tr th:each="car : ${factory.carModels}">
                        <td th:text="${car.name}"></td>
                        <td th:text="${car.basePrice}"></td>
                        <td><a href="#" th:href="@{'/factory/' + ${factory.id} + '/deleteCarModel'}">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>