<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Factory add car</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:action="@{/factories/addCars}" method="post">
        <div class="form-group">
            <label class="control-label">Car models:</label>
            <ul>
                <li th:each="carModel : ${carModels}">
                    <input type="checkbox" name="searchValues" th:value="${search}"/>
                    <label th:text="${carModel.name}"></label>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>