<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Factory form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:object="${factory}" th:action="@{/factories/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" required />
        </div>
        <div class="form-group">
            <label class="control-label">Country:</label>
            <input class="form-control" type="text" th:field="*{country}" required />
        </div>

        <div class="form-group">
            <label class="control-label">Car models:</label>
            <input th:each="carModel : ${carModels}" th:text="${carModel.name}" type="checkbox" th:field="*{selectedCarModels}" th:value="${carModel.id}"/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>


    </form>
</div>
</body>
</html>