<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:include=":: #title" id="title">AutomotiveFactory</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" type="text/css">
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{'/index'}">Automotive Factory</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#" th:href="@{'/cars'}">Cars</a></li>
            <li><a href="#" th:href="@{'/carModels'}">Car models</a></li>
            <li><a href="#" th:href="@{'/clients'}">Clients</a></li>
            <li><a href="#" th:href="@{'/orders'}">Orders</a></li>
            <li><a href="#" th:href="@{'/factories'}">Factories</a></li>
            <li><a href="#" th:href="@{'/suppliers'}">Suppliers</a></li>
            <li><a href="#" th:href="@{'/parts'}">Parts</a></li>
            <li><span sec:authentication="name"></span><form th:action="@{/logout}" method="POST">
                <input class="btn btn-default" style="position:relative; top:7px;" type="submit" value="Logout">
            </form></li>
        </ul>
    </div>
</nav>
</body>
</html>