<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Login</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
    <div class="col-md-3"></div>
    <form class="form-signin col-md-5" method="post" th:action="authUser">
        <h2 class="form-signin-heading">Sign in ...</h2>
        <p th:if="${errorMessage}" class="text-danger" th:text="${errorMessage}">Wrong user or password</p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>
</html>