<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Parts</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Description
                </th>
                <th>
                    Factory
                </th>
                <th>
                    Suppliers
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tr th:each="part : ${parts}">
                <td th:text="${part.name}"></td>
                <td th:text="${part.quantity}"></td>
                <td th:text="${part.description}"></td>
                <td th:text="${part.factory != null ? part.factory.name : ''}"></td>
                <td><span th:each="supplier: ${part.suppliers}" th:text="${supplier.name} + ', '"></span></td>
                <td><a href="#" th:href="@{'parts/' + ${part.id} + '/edit'}">Edit</a></td>
                <td><a href="#" th:href="@{'parts/' + ${part.id} + '/delete'}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <a th:href="@{'parts/new'}"><button class="btn btn-primary">New part</button></a>
    </div>
</div>
</div>
</body>
</html>