<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
    <title id="title">Supplier form</title>
</head>
<body>
<div th:replace="index :: navbar"></div>
<div class="col-md-6 col-md-offset-2">
    <form th:object="${supplier}" th:action="@{/suppliers/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <label class="control-label">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Address:</label>
            <input class="form-control" type="text" th:field="*{address}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">E-mail:</label>
            <input class="form-control" type="email" th:field="*{email}" required/>
        </div>
        <div class="form-group">
            <label class="control-label">Parts: </label>
            <div>
                <input th:each="part : ${parts}" th:text="${part.name}" type="checkbox" th:field="*{partIds}" th:value="${part.id}"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>
</body>
</html>