<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	<title>Log in</title>

</head>

<body>

	<header>
		<!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
	</header>

	<div class="container">

		<div class="row main">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel-heading">
					<div class="panel-title text-center">
						<h1 class="title">Log In</h1>
						<hr />
					</div>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" th:action="@{/login}" method="post">

						<div th:if="${param.error}">
							<div class="alert alert-danger">Invalid username or
								password.</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-info">You have been logged out.</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="email"  placeholder="Enter your email"/>
								</div>
							</div>
						</div>

						&nbsp;

						<div class="form-group">
							<label for="id_password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="id_password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
						</div>

						<div class="login-register">
							Don't have an account?
							<a th:href="@{/register}">Create account</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>