<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
	<title>Registration</title>

</head>

<body>

	<header>
		<!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
	</header>

	<div class="container">
		<div class="row main">
			<div class="col-md-4 col-md-offset-4">

				<div class="panel-heading">
					<div class="panel-title text-center">
						<h1 class="title">Register</h1>
						<hr />
					</div>
				</div>

				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<div class="main-login main-center">
					<form class="form-horizontal" th:action="@{/register}" th:object="${user}" method="post">

						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
						   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
							error</p>

						<div class="form-group">
							<label class="control-label" for="username">First name</label>
							<div class="col-sm-10">
								<span class="text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" th:field="*{username}" id="username"  placeholder="Enter your username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="email">Email address</label>
							<div class="col-sm-10">
								<span class="text-danger small" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" th:field="*{email}" id="email"  placeholder="Enter your email"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label" for="password">Password</label>
							<div class="col-sm-10">
								<span class="text-danger small" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" th:field="*{password}" id="password"  placeholder="Enter your password"/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
						</div>

						<div class="login-register">
							Already have an account?
							<a href="/" th:href="@{/login}">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>