<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Adoption requests</title>

</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Animal
                </th>
                <th>
                    User email
                </th>
                <th>
                    Date created
                </th>
                <th>
                    Date closed
                </th>
                <th>
                    Closed by
                </th>
                <th>
                    Status
                </th>
                <th sec:authorize="hasRole('ADMIN')">
                    Aprove
                </th>
                <th sec:authorize="hasRole('ADMIN')">
                    Decline
                </th>
            </tr>
            </thead>
            <tr th:each="request : ${requests}">
                <td th:text="${request.animal.title}"></td>
                <td th:text="${request.userRequested.email}"></td>
                <td th:text="${request.date_created}"></td>
                <td th:text="${request.date_closed != null ? request.date_closed : ''}"></td>
                <td th:text="${request.userAdmin != null ? request.userAdmin.email : ''}"></td>
                <td th:text="${request.status}"></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/adoptionRequests/approve(id=${request.id})}" th:if="${request.status == T(ro.proiect.epa.model.AdoptionRequest.Status).Requested}" class="btn btn-primary btn-xs">Approve</a></td>
                <td sec:authorize="hasRole('ADMIN')"><a th:href="@{/adoptionRequests/decline(id=${request.id})}" th:if="${request.status == T(ro.proiect.epa.model.AdoptionRequest.Status).Requested}" class="btn btn-primary btn-xs">Decline</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>