<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
    <title>Adoption requests</title>

</head>

<body>
<header>
    <!--/*/ <th:block th:include="fragments/header :: header('register')"></th:block> /*/-->
</header>
<body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Animal
                </th>
                <th>
                    Known Disease
                </th>
                <th>
                    Date of last vaccine
                </th>
                <th>
                    Neutering
                </th>
            </tr>
            </thead>
            <tr>
                <td th:text="${animalMedicalHistory.animal.title}"></td>
                <td th:text="${animalMedicalHistory.known_disease}"></td>
                <td th:text="${animalMedicalHistory.date_from_last_vaccine}"></td>
                <td th:text="${animalMedicalHistory.neutering}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>