<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header(activeTab)">

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">
            <!--Header-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}">Pet Hope</a>
            </div>

            <!--Items-->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <div class="pull-right" sec:authorize="isAuthenticated()">
                    <ul class="nav pull-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <span sec:authentication="principal.username">User</span>
                                                                                                        , Role: <span sec:authentication="principal.authorities"></span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/animals/list}"><i class="icon-cog"></i> Animals</a></li>
                                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/animalTypes/list}"><i class="icon-cog"></i> Species</a></li>
                                <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/adoptionRequests}"><i class="icon-cog"></i> Adoption requests</a></li>
                                <li><a th:href="@{/adoptionRequests/my}"><i class="icon-cog"></i> My adoption requests</a></li>
                                <li><a th:href="@{/profile/view}"><i class="icon-cog"></i> My Profile</a></li>
                                <li><a th:href="@{/profile/changePassword}"><i class="icon-cog"></i> Change Password</a></li>
                                <li class="divider"></li>
                                <li><a th:href="@{/logout}"><i class="icon-off"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <ul class="nav navbar-nav navbar-right" sec:authorize="!isAuthenticated()">
                    <li>
                        <a th:href="@{/register}">
                            <span class="glyphicon glyphicon-log-in"></span> Sign up</a></li>
                    </a>
                    </li>&nbsp;&nbsp;&nbsp;&nbsp;
                    <li>
                        <a th:href="@{/login}">
                            <span class="glyphicon glyphicon-user"></span> Login</a></li>
                    </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <br>
    <br>
    <br>
    <br>

</header>
</html>